img {
  margin: 5px;
  height: 400px;
  width: 400;
  border: 1px solid #ccc;
}

li {
  font-size: 20px;
  font-family: cursive;
  color: blue;
}

p {
  font-size: 20px;
}

.photo-showing {
  display: none;
}

.month {
  font: 30px;
  color: aquamarine;
  display: block;
}

p {
  cursor: pointer;
  color: #0088cc;
}

p:hover {
  text-decoration: underline;
}
  